<!DOCTYPE html>
html(lang="ko-KR")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title accordion UI 실습
  link(rel="stylesheet", href="/node_modules/bulma/css/bulma.css")
  link(rel="stylesheet", href="./css/main.css")
  
body
  .container.conlumn
    .conlumns.is-3
      h1.title.is-1 오늘밤 주인공은 나야 나 
      
  