/* ! grid.css @ 2017, gose */
@import 'settings';


// 토글
// 브라우저 뷰에 그리드 가이드를 토글(보임/감춤)하는 스타일 모듈
// .show-grid
.#{$toggle-classname}{
    position: relative;
}
.#{$toggle-classname}::before, 
.#{$toggle-classname}::after{
    content: "";
    position: absolute;
    top: 0;
    height: $guide-height;
}
/* 그리드의 leading(21px) */
.#{$toggle-classname}::before{
    $leading-limit: $leading - 1;
    z-index: 10000;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, transparent $leading-limit, #0cf $leading-limit);
    background-size: 1px $leading;
}
/* 그리드의 column (70px) */
.#{$toggle-classname}::after{
    $full-width: $column-width + $gutter-width;
    z-index: 10010;
    left: 50%;
    transform: translateX(-50%);
    width: $page-width;
    background: linear-gradient(90deg, transparent $half-gutter-width, $column-color $half-gutter-width, $column-color $column-width + $half-gutter-width, transparent $column-width + $half-gutter-width);
    background-size: $full-width 1px;
}

/* Container Module */
.container {
    width: $page-width;
    margin-left: auto;
    margin-right: auto;
}
/* Row Module*/
// 컬럼을 감싸는 로우(행) 모듈
.row{
    &::after{
        content: "";
        display: block;
        clear: both;
    }
    // Nesting Row Module(중첩 row 모듈)
    // 중첩되는 모듈에 양쪽 마진을 없앤다.
    // .row.is-nesting
    &.is-nesting{
        & > :first-child {
            margin-left: 0;
        }
        & > :last-child {
            margin-right: 0;
        }
    }
}

// Column Module
// 컬럼(열) 모듈
.col {
    float: left;
    margin-left: $half-gutter-width;
    margin-right: $half-gutter-width;
}

@for $i from 1 through $columns{
    // .col.is-*
    .is-#{$i} {
        width: column-width($i);
    }
    // Offeset Module
    // 컬럼 핸들링 모듈
    // .is-offset-*
    .is-offset-#{$i} {
        margin-left: offset-width($i);
    }
}