// ! TableDesign base.scss


$base-color-1: #666666;
$base-color-2: #b3b3b3;
$base-color-3: #f5f5f5;
$base-color-4: #808080;
$base-color-5: #c1c1c1;

$point-color-1: #1875f0;

$state-color-1: #f5a623;
$state-color-2: #f44336;
$state-color-3: #bd10e0;
$state-color-4: #2096f3;
$state-color-5: #50d166;

%text-style-1{
  font-family: 'Roboto', sans-serif;
}