/* Icons from directory "" */
.icon-ico-star-01,.icon-ico-star-01\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-ico-star-01-dims{width:20px;height:19px}
.icon-ico-star-02,.icon-ico-star-02\:regular{background-image:url('icons/icons.svg');background-position:0 -19px;background-repeat:no-repeat}
.icon-ico-star-02-dims{width:20px;height:19px}