/* Icons from directory "" */
.icon-ico-mail-01,.icon-ico-mail-01\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-ico-mail-01-dims{width:16px;height:16px}
.icon-ico-mail-02,.icon-ico-mail-02\:regular{background-image:url('icons/icons.svg');background-position:0 -16px;background-repeat:no-repeat}
.icon-ico-mail-02-dims{width:18px;height:18px}
.icon-ico-mail-03,.icon-ico-mail-03\:regular{background-image:url('icons/icons.svg');background-position:0 -34px;background-repeat:no-repeat}
.icon-ico-mail-03-dims{width:17px;height:17px}
.icon-ico-mail-04,.icon-ico-mail-04\:regular{background-image:url('icons/icons.svg');background-position:0 -51px;background-repeat:no-repeat}
.icon-ico-mail-04-dims{width:14px;height:18px}
.icon-ico-mail-05,.icon-ico-mail-05\:regular{background-image:url('icons/icons.svg');background-position:0 -69px;background-repeat:no-repeat}
.icon-ico-mail-05-dims{width:19px;height:14px}
.icon-ico-mail-06,.icon-ico-mail-06\:regular{background-image:url('icons/icons.svg');background-position:0 -83px;background-repeat:no-repeat}
.icon-ico-mail-06-dims{width:18px;height:18px}
.icon-ico-mail-07,.icon-ico-mail-07\:regular{background-image:url('icons/icons.svg');background-position:0 -101px;background-repeat:no-repeat}
.icon-ico-mail-07-dims{width:14px;height:14px}
.icon-ico-mail-08,.icon-ico-mail-08\:regular{background-image:url('icons/icons.svg');background-position:0 -115px;background-repeat:no-repeat}
.icon-ico-mail-08-dims{width:14px;height:14px}
.icon-ico-mail-09,.icon-ico-mail-09\:regular{background-image:url('icons/icons.svg');background-position:0 -129px;background-repeat:no-repeat}
.icon-ico-mail-09-dims{width:19px;height:20px}
.icon-ico-mail-10,.icon-ico-mail-10\:regular{background-image:url('icons/icons.svg');background-position:0 -149px;background-repeat:no-repeat}
.icon-ico-mail-10-dims{width:20px;height:16px}