@charset "UTF-8";
/*
 * Susy Global Settings
 * http://susydocs.oddbird.net/en/latest/settings/#global-defaults
 */
/* ! init 모듈*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  font-family: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.4rem;
  /* 14px */
  line-height: 1.5;
  /* 21px */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a :visited {
  color: black;
  text-decoration: none;
}

button {
  box-shadow: none;
  border: none;
  cursor: pointer;
}

input {
  border: 0;
}

.a11y-hidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.user-aria img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.show-grid .show-grid {
  position: relative;
}

.show-grid::before,
.show-grid::after {
  content: '';
  position: absolute;
  top: 0;
  height: 700vh;
}

.show-grid::before {
  z-index: 10000;
  left: 0;
  width: 100%;
  background: linear-gradient(180deg, transparent 29px, #0cf 29px);
  background-size: 1px 30px;
}

.show-grid::after {
  z-index: 10010;
  left: 50%;
  width: 1176px;
  background: linear-gradient(90deg, transparent 15px, rgba(251, 137, 137, 0.35) 15px, rgba(251, 137, 137, 0.35) 83px, transparent 83px);
  background-size: 98px 1px;
  transform: translateX(-50%);
}

.wrapper {
  width: 1176px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1176px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper:after {
  content: " ";
  display: block;
  clear: both;
}

head {
  display: block;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 999;
  color: #333;
  background: rgba(255, 255, 255, 0.25);
}

head:before {
  content: "|||";
  display: block;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}

head:hover {
  background: rgba(255, 255, 255, 0.5);
  color: red;
}

head:hover ~ .wrapper,
head:hover ~ body .wrapper {
  position: relative;
}

head:hover ~ .wrapper:before,
head:hover ~ body .wrapper:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: linear-gradient(to right, transparent 11.53846%, rgba(102, 102, 255, 0.25) 11.53846%, rgba(179, 179, 255, 0.25) 88.46154%, transparent 88.46154%);
  background-size: 8.33333%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
}

.row::after {
  content: '';
  display: block;
  clear: both;
}

.row.is-nesting > :first-child {
  margin-left: 0;
}

.row.is-nesting > :last-child {
  margin-right: 0;
}

.row.is-isolate .col {
  margin-right: -100%;
}

.col {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}

.is-1 {
  width: 68px;
}

.is-offset-1 {
  margin-left: 113px;
}

.is-nesting .is-offset-1:first-child {
  margin-left: 98px;
}

.is-2 {
  width: 166px;
}

.is-offset-2 {
  margin-left: 211px;
}

.is-nesting .is-offset-2:first-child {
  margin-left: 196px;
}

.is-isolate > .order-1,
.is-isolate > .o-1 {
  margin-left: 15px;
}

.is-3 {
  width: 264px;
}

.is-offset-3 {
  margin-left: 309px;
}

.is-nesting .is-offset-3:first-child {
  margin-left: 294px;
}

.is-isolate > .order-2,
.is-isolate > .o-2 {
  margin-left: 113px;
}

.is-4 {
  width: 362px;
}

.is-offset-4 {
  margin-left: 407px;
}

.is-nesting .is-offset-4:first-child {
  margin-left: 392px;
}

.is-isolate > .order-3,
.is-isolate > .o-3 {
  margin-left: 211px;
}

.is-5 {
  width: 460px;
}

.is-offset-5 {
  margin-left: 505px;
}

.is-nesting .is-offset-5:first-child {
  margin-left: 490px;
}

.is-isolate > .order-4,
.is-isolate > .o-4 {
  margin-left: 309px;
}

.is-6 {
  width: 558px;
}

.is-offset-6 {
  margin-left: 603px;
}

.is-nesting .is-offset-6:first-child {
  margin-left: 588px;
}

.is-isolate > .order-5,
.is-isolate > .o-5 {
  margin-left: 407px;
}

.is-7 {
  width: 656px;
}

.is-offset-7 {
  margin-left: 701px;
}

.is-nesting .is-offset-7:first-child {
  margin-left: 686px;
}

.is-isolate > .order-6,
.is-isolate > .o-6 {
  margin-left: 505px;
}

.is-8 {
  width: 754px;
}

.is-offset-8 {
  margin-left: 799px;
}

.is-nesting .is-offset-8:first-child {
  margin-left: 784px;
}

.is-isolate > .order-7,
.is-isolate > .o-7 {
  margin-left: 603px;
}

.is-9 {
  width: 852px;
}

.is-offset-9 {
  margin-left: 897px;
}

.is-nesting .is-offset-9:first-child {
  margin-left: 882px;
}

.is-isolate > .order-8,
.is-isolate > .o-8 {
  margin-left: 701px;
}

.is-10 {
  width: 950px;
}

.is-offset-10 {
  margin-left: 995px;
}

.is-nesting .is-offset-10:first-child {
  margin-left: 980px;
}

.is-isolate > .order-9,
.is-isolate > .o-9 {
  margin-left: 799px;
}

.is-11 {
  width: 1048px;
}

.is-offset-11 {
  margin-left: 1093px;
}

.is-nesting .is-offset-11:first-child {
  margin-left: 1078px;
}

.is-isolate > .order-10,
.is-isolate > .o-10 {
  margin-left: 897px;
}

.is-12 {
  width: 1146px;
}

.is-offset-12 {
  margin-left: 1191px;
}

.is-nesting .is-offset-12:first-child {
  margin-left: 1176px;
}

.is-isolate > .order-11,
.is-isolate > .o-11 {
  margin-left: 995px;
}

/* ! init 모듈*/
* {
  font-family: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.4rem;
  /* 14px */
  line-height: 1.5;
  /* 21px */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a :visited {
  color: black;
  text-decoration: none;
}

button {
  box-shadow: none;
  border: none;
  cursor: pointer;
}

input {
  border: 0;
}

.a11y-hidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.user-aria img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.dashboard-bg {
  height: 90px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.01), 0 6px 6px rgba(0, 0, 0, 0.01);
}

.logo a {
  font-size: 2rem;
  color: #666666;
  font-weight: 700;
  line-height: 90px;
  text-align: center;
  display: block;
}

.main-menu {
  display: flex;
  flex-direction: row;
  line-height: 90px;
  justify-content: space-around;
  align-items: center;
}

.main-menu li a {
  color: #b3b3b3;
  font-weight: 500;
  display: block;
}

.main-menu li a:hover {
  color: #666666;
}

.main-menu button {
  background: url("../../css/image/ico-more.svg");
  width: 18px;
  height: 4px;
  padding: 4px 0 0 0;
  overflow: hidden;
  cursor: pointer;
  display: block;
}

.search-form {
  line-height: 90px;
  text-align: center;
  position: relative;
}

.search-form input {
  border-radius: 30px;
  border-style: none;
  border: 2px solid #f5f5f5;
  padding: 17px 50px;
  color: #b3b3b3;
  font-size: 1.2rem;
  width: 193px;
}

.search-form button {
  background: url("../../css/image/ico-search.svg");
  position: absolute;
  top: 38px;
  left: 60px;
  width: 13px;
  height: 13px;
  padding: 13px 0 0 0;
  overflow: hidden;
}

.user-aria {
  line-height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.user-aria .alram-group {
  position: relative;
}

.user-aria .alram-group .alram-icon {
  background-image: url("../../css/image/ico-alram.svg");
  width: 16px;
  height: 20px;
  padding-top: 20px;
  overflow: hidden;
}

.user-aria .alram-group .alram-icon-new {
  content: "";
  width: 6px;
  height: 6px;
  overflow: hidden;
  padding-top: 6px;
  background: #1875f0;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: -5px;
  right: -5px;
}

.user-aria p {
  display: inline-block;
  color: #808080;
}

.title-container {
  width: 1146px;
  margin: 30px 15px 0;
  height: 180px;
  border-radius: 7px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.01), 0 6px 6px rgba(0, 0, 0, 0.01);
}

.directory-list {
  margin-top: 30px;
  margin-left: 20px;
  line-height: 30px;
  display: flex;
  flex-direction: row;
}

.directory-list li a {
  display: inline-block;
  color: #c1c1c1;
}

.directory-list li a:hover {
  color: #666666;
}

.directory-list li::after {
  content: "";
  display: inline-block;
  background: url("../../css/image/ico-arrow.svg");
  width: 5px;
  height: 8px;
  margin: 0 15px 1px 15px;
}

.mail-heading {
  margin-top: 30px;
  margin-left: 20px;
  line-height: 30px;
  font-size: 3.6rem;
  color: #808080;
  font-weight: 300;
}

.mail-check-container form input[type="checkbox"] + label, .mail-check form input[type="checkbox"] + label {
  display: inline-block;
  border: 2px solid #f5f5f5;
  border-radius: 3px;
  background: #fff;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.mail-check-container form input[type="checkbox"]:checked + label, .mail-check form input[type="checkbox"]:checked + label {
  background: #1875f0;
  border: 2px solid #1875f0;
}

.mail-check-container form input[type="checkbox"]:checked + label label:after, .mail-check form input[type="checkbox"]:checked + label label:after {
  background: #000 url("../../css/image/ico-checked.svg");
  content: "";
  width: 10px;
  height: 9px;
}

.mail-check-container form input[type="checkbox"], .mail-check form input[type="checkbox"] {
  display: none;
}

.star-check form input[type="checkbox"] + label {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  height: 20px;
  width: 20px;
  overflow: hidden;
  padding-top: 20px;
  background: url("../../css/image/icon-star.svg") no-repeat;
  background-size: 20px;
}

.star-check form label {
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  height: 20px;
  width: 20px;
  overflow: hidden;
  padding-top: 20px;
  background: url("../../css/image/icon-star.svg") no-repeat;
  background-size: 20px;
}

.star-check form input[type="checkbox"]:checked + label {
  background: url("../../css/image/icon-star.svg") no-repeat;
  background-position-y: 100%;
}

.star-check form input {
  display: none;
}

.category-info li {
  background: red;
  width: 7px;
  height: 7px;
  border-radius: 3px;
}

.main {
  margin: 30px 15px 0;
  width: 1146px;
  height: 870px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.01), 0 6px 6px rgba(0, 0, 0, 0.01);
  border-radius: 7px;
}

.main div {
  padding: 0;
}

table {
  width: 1146px;
  table-layout: fixed;
}

table thead {
  height: 90px;
  border-bottom: 2px solid #f5f5f5;
}

table thead th {
  line-height: 88px;
  vertical-align: middle;
}

table thead :last-child {
  border-right: none;
}

table tbody .side-menu {
  border-right: 2px solid #f5f5f5;
  border-bottom: 2px solid #f5f5f5;
  vertical-align: middle;
}

table tbody .side-menu :last-child {
  border-bottom: none;
}

table tbody .category-info {
  border-right: 2px solid #f5f5f5;
}

table tbody .mail-list-item {
  line-height: 58px;
  border-bottom: 2px solid #f5f5f5;
}

table tbody .mail-list-item :last-child {
  border-bottom: none;
}

.btn-mail-compose-container {
  border-right: 2px solid #f5f5f5;
  width: 223px;
}

.btn-mail-compose-container .btn-mail-compose {
  background: #1875f0;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  padding: 20px 58px;
  cursor: pointer;
}

.mail-check-container {
  width: 70px;
}

.mail-check-container form {
  margin-bottom: -10px;
  position: relative;
}

.mail-check-container .btn-mail-dropdown {
  background: url("../../css/image/ico-dropdown.svg");
  width: 10px;
  height: 6px;
  padding: 6px 0 0 0;
  overflow: hidden;
  margin-left: 5px;
  position: absolute;
  top: 35px;
  right: 7px;
}

.btn-mail-reload-container {
  width: 42px;
  text-align: center;
}

.btn-mail-reload-container .btn-mail-reload {
  background: url("../../css/image/icons-mail.svg");
  vertical-align: middle;
  width: 16px;
  height: 16px;
  overflow: hidden;
  padding-top: 16px;
  cursor: pointer;
}

.mail-menu-container .ico-mail {
  margin: 0 5px;
  overflow: hidden;
  background: url("../../css/image/icons-mail.svg") no-repeat;
  vertical-align: middle;
}

.mail-menu-container .btn-mail-download {
  width: 16px;
  height: 16px;
  padding-top: 16px;
  background-position: 0 -16px;
}

.mail-menu-container .btn-mail-spammail {
  width: 18px;
  height: 18px;
  padding-top: 18px;
  background-position: 0 -83px;
}

.mail-menu-container .btn-mail-trash {
  width: 14px;
  height: 14px;
  padding-top: 14px;
  background-position: 0 -51px;
}

.mail-menu-container .btn-mail-folder {
  width: 10px;
  height: 16px;
  padding-top: 16px;
  background-position: 0 -149px;
}

.mail-menu-container .btn-mail-tag {
  width: 18px;
  height: 18px;
  padding-top: 18px;
  background-position: 0 -83px;
}

.mail-search-container {
  border-left: 2px solid #f5f5f5;
  border-right: 2px solid #f5f5f5;
  width: 250px;
  position: relative;
}

.mail-search-container input {
  display: block;
  width: 100%;
  height: 90px;
  padding: 10px 30px;
}

.mail-search-container button {
  overflow: hidden;
  background: url("../../css/image/icons-mail.svg");
  width: 17px;
  height: 17px;
  padding-top: 17px;
  background-position: 0 -34px;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.mail-navigation-container button {
  width: 14px;
  height: 14px;
  overflow: hidden;
  background: url("../../css/image/icons-mail.svg");
  padding-top: 14px;
  vertical-align: middle;
}

.mail-navigation-container .btn-mail-prev {
  background-position: 0 -101px;
}

.mail-navigation-container .btn-mail-next {
  background-position: 0 -115px;
}

.mail-setting-container button {
  width: 19px;
  height: 20px;
  padding-top: 20px;
  overflow: hidden;
  background: url("../../css/image/icons-mail.svg");
  background-position: 0 -129px;
  vertical-align: middle;
}

.mail-check {
  vertical-align: middle;
  text-align: center;
}

.mail-check form {
  margin-bottom: -8px;
}

.star-check-container {
  width: 20px;
}

.star-check {
  vertical-align: middle;
  text-align: center;
}

.star-check form {
  margin-bottom: -8px;
}

/*# sourceMappingURL=../../map/style.css.map */