@charset "utf-8";
.body{
    margin: 0;
    padding: 0;
}

.wrapper{
    position: relative;
}
.wrapper div{
    width: 187px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    position: absolute;
}
div.color1{
    background: #777;
}
div.color2{
    background: #888;
}
div.color3{
    background: #999;
}
div.color4{
    background: #ccc;
}
div.color5{
    background: #eee;
}
.row1{
    top: 0;
}
.row2{
    top: 150px;
}
.row3{
    top: 300px;
}
.row4{
    top: 450px;
}

.column1{
    left: 0;
}
.column2{
    left: 187px;
}
.column3{
    left: 374px;
}
.column4{
    left: 561px;
}
